<div class="homePage">
    <div id="NameRow" >
        <div id="recommendedColumnName">
            <h2>Suggested Friends</h2>
        </div>
        <div id="feedColumnName">
            <h2>Feed</h2>
        </div>
        <div id="friendColumnName">
            <h2>Friends</h2>
        </div>
    </div>
    <div id="recommendedColumn">
        <app-friend-list (friendAdded)="getFriends()"></app-friend-list>
    </div>
    <div id="feedColumn">
        <button mat-raised-button color="accent" (click)="openModal()">Make New Post</button>
        <!-- The modal -->
        <ng-template #content let-modal>
            <div class="modal-overlay">
                <div class="modal-container">
                    <div class="modal-header">
                        <h4 class="modal-title">Make Post</h4>
                    </div>
                    <div class="modal-body">                    
                        <label for="SongNameTextArea">Enter Song Name:</label>
                        <textarea class="newpost-caption" id="SongNameTextArea" [(ngModel)]="inputText" placeholder="Enter text here" ></textarea>
                        <div></div>
                        <label for="CaptionTextArea">Enter Caption:</label>
                        <textarea class="newpost-caption" id="CaptionTextArea" [(ngModel)]="inputText" placeholder="Enter text here" ></textarea>
                    </div>
                    <div class="spotify-content" id="{{AttachID}}"></div>
                    <div class="modal-footer">
                        <button mat-raised-button color="accent" (click)="post()">Post</button>
                        <button mat-raised-button color="accent" (click)="dismissModal()">Close</button>
                    </div>
                </div>
            </div>
        </ng-template>
        <app-feed-list></app-feed-list>
    </div>
    <div id="friendColumn">
        <div class="friends-list">
            <app-actual-friend-card 
            *ngFor="let friend of friends"
            [pictureUrl]="friend.imageUrl"
            [friendName]="friend.displayName"
            [email]="friend.email"
            [smallPicture]="true"
            ></app-actual-friend-card>
          </div>
    </div>
</div>

