<div class="homePage">
    <div id="NameRow" >
        <div id="recommendedColumnName">
            <h2>Recommended Friends</h2>
        </div>
        <div id="feedColumnName">
            <h2>Feed</h2>
        </div>
        <div id="friendColumnName">
            <h2>Friends</h2>
        </div>
    </div>
    <div id="recommendedColumn">
        <app-friend-list (friendAdded)="getFriends()"></app-friend-list>
    </div>
    <div id="feedColumn">
        <app-feed-list></app-feed-list>
    </div>
    <div id="friendColumn">
        <div class="friends-list">
            <app-actual-friend-card 
            *ngFor="let friend of friends"
            [pictureUrl]="friend.imageUrl"
            [friendName]="friend.displayName"
            [email]="friend.email"
            [smallPicture]="true"
            ></app-actual-friend-card>
          </div>
    </div>
</div>