<mat-card>
    <div class="recommendation-card-content">
      <div class="recommendation-info">
        <p>{{ friend.name }}</p>
      </div>
    </div>
    <div class="recommendation-card-content">
      <div class="recommendation-picture-container">
        <img [src]="friend.pictureUrl" alt="Friend's Picture" class="recommendation-picture" [ngClass]="{ 'small-picture': 'true' }" />
      </div>
      <div class ="spotify-content" id = "{{i}}" ></div>
      <button mat-button color="primary" (click)="addToPlaylist()">Add To Playlist</button>
      <button mat-button color="primary" (click)="addToPlaylist()">X</button>

    </div>
  </mat-card>
