#recommendationsColumn {
    width: 100%;
    padding-top: 10px;
    display: inline-block;
    background-color: rgb(48, 48, 48);
    font-family: 'Spotify Font', sans-serif;
    color: seashell;
}

#PageHeader {
    width: 100%;
    padding-top: 10px;
    display: inline-block;
    background-color: rgb(48, 48, 48);
    font-family: 'Spotify Font', sans-serif;
    color: seashell;
}

/* Overlay to blur the rest of the content */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 236, 236, 0.252);
    font-family: 'Spotify Font', sans-serif;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal container */
.modal-container {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0,0);
    transition: transform 0.3s ease-in-out;
    background-color: rgb(48, 48, 48);
    color: seashell;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.modal-container.active {
    transform: translate(-50%, -50%);
    display: block;
}

.modal-content {
    padding: 30px;
}

.modal-header h4.modal-title,
.modal-body textarea,
.modal-footer button,
.form-group label,
.form-group select {
  font-size: 20px;
  font-family: 'Spotify Font', sans-serif;
}

.form-group select{
    width: 100%;
    padding: 10px;
}

.modal-body textarea {
    width: 90%;
    padding: 20x;
}
  
.modal-header,
.modal-body,
.modal-footer{
    padding: 10px;
    font-size: 20px;
    font-family: 'Spotify Font', sans-serif;
}

.modal-footer button{
    margin-right: 30px;
    width: 40%;
}