mat-card {
    margin-bottom: 16px;
    align-items: center;
}

.profile-page-content {
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    font-family: 'Spotify Font', sans-serif;
    font-size: medium;
    color: seashell;
    height: 100%;
    gap: 16px;
    padding: 16px;
}

.spotify-content {
    width: 75%;
    align-items: center;
}

.profile-picture-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 35%;
}

.profile-picture-info {
    justify-content: center;
}

.profile-edit-button {
    margin-bottom: 15px;
    padding: 20px;
}

.profile-user-info {
    margin-top: -160px;
    margin-left: 35%;
    margin-bottom: 70px;
}

.profile-user-info h1 {
    font-size: 30px;
}

.profile-picture {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.large-picture {
    width: 100%;
    height: 100%;
}

/* Overlay to blur the rest of the content */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(244, 236, 236, 0.252);
    font-family: 'Spotify Font', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal container */
.modal-container {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    transition: transform 0.3s ease-in-out;
    background-color: rgb(48, 48, 48);
    color: seashell;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.modal-container.active {
    transform: translate(-50%, -50%);
    display: block;
}

.modal-content {
    padding: 20px;
}

.modal-body textarea,
.modal-footer button,
.form-group1 label,
.form-group2 label,
.form-group select {
    font-size: 20px;
    font-family: 'Spotify Font', sans-serif;
}

.modal-header h4.modal-title {
    font-size: 24px;
    font-family: 'Spotify Font', sans-serif;
    margin-bottom: 10px;
}

.form-group1 {
    margin-bottom: 10px;
}

.form-group2 select {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
}

.form-group2 button {
    margin-left: 15px;
    margin-top: 25px;
}

.modal-body textarea {
    color: seashell;
    background-color: rgb(48, 48, 48);
    width: 90%;
    padding: 20x;
}

.modal-header,
.modal-body,
.modal-footer {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family: 'Spotify Font', sans-serif;
}

.modal-footer button {
    margin: 8px;
    align-items: center;
    width: 40%;
}