<mat-card>
  <div class="feed-name">
    <p>{{ feed.name }}</p>
  </div>
  <div>
    <p>
      {{ feed.datePosted }}
    </p>
  </div>
  <div class="feed-card-content">
    <div class="spotify-content" id="{{i}}"></div>
  </div>
  <div class="feed-card-content">
    <div class="feed-picture-container">
      <img [src]="feed.profileImageUrl" alt="Friend's Picture" class="feed-picture"
        [ngClass]="{ 'small-picture': 'true' }" />
    </div>
    <textarea class="feed-caption" readonly="true">
      {{feed.bodyText}}
    </textarea>
  </div>
</mat-card>