mat-card {
  margin-bottom: 16px;
}

.feed-card-content {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.feed-picture-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
}

.feed-picture {
  width: auto;
  height: 100%;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.small-picture {
  width: auto;
  height: 100%;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.feed-name {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.feed-name p {
  margin-bottom: 8px;
  font-size: 30px;
  font-weight: bold;
}

.feed-caption {
  max-width: 100%; 
  width: 80%;
  height: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  resize: none;
  background-color: #424242;
  font-family: 'Spotify Font', sans-serif;
  font-size: medium;
  color: seashell;
}


.spotify-content{
  width:100%
}